.agdeportes {
    --primary-color: #ffde25;
    --bg-color: #020213;
    --text-color: #f1f1f1;
    --link-color: #e0d20e;
    --heading-color: #ffde25;
    --border-color: #3e2905;
    --header-bg: #020213;
}
