.alchemistdefi {
  --primary-color: #384aff;
  --bg-color: #fcf7e8;
  --text-color: #4262e9;
  --link-color: #1b308a;
  --heading-color: #111111;
  --border-color: #d1d5da;
  --header-bg: white;
  --block-bg: transparent;
}