.ballena {
  --primary-color: #f16340;
  --bg-color: #1d3149;
  --text-color: #00b5eb;
  --link-color: #d8f2fe;
  --heading-color: #fafafa;
  --border-color: #49befa;
  --header-bg: #1d3149;
  --block-bg: #121e2c;

  #topnav {
    border-bottom: 1px solid #d8f2fe !important;
  }
}
