.betswirl {
  --primary-color: #5965F1;
  --bg-color: #101420;
  --text-color: #ffffff;
  --link-color: white;
  --heading-color: #fff;
  --border-color: #818CF6;
  --header-bg: #151B2B;
  --block-bg: #151B2B;
  
  
  #topnav {
      background-color: #151B2B;
      border: none !important;
  }

}
