.blackpink {
  --primary-color: #EC6997;
  --bg-color: #070307;
  --text-color: #fff;
  --link-color: #EC6997;
  --heading-color: #4ED8DE;
  --border-color: #424242;
  --header-bg: #262626;
  --block-bg: #0F0C0D;
}
