.blackpoolhq {
  --primary-color: #a1a1a1;
  --bg-color: #000;
  --text-color: #b1b1b1;
  --link-color: #fff;
  --heading-color: #fff;
  --border-color: #888;
  --header-bg: #000;
  --block-bg: transparent;
}
