.bloody {
    --primary-color: #000000;
    --bg-color: #fc4448;
    --text-color: #611215;
    --link-color: #000000;
    --heading-color: #000000;
    --border-color: #ffffff80;
    --header-bg: #fc4b50;
}
