.carrotswap {
  --primary-color: hsla(0,0%,100%,0.13);
  --bg-color: orange;
  --text-color: #1e1e1e;
  --link-color: #1e1e1e;
  --heading-color: #1e1e1e;
  --border-color: rgba(82, 103, 75, .49);
  --header-bg: #f19d37;
}