.chartex {
  --primary-color: #3b75f3;
  --bg-color: #010629;
  --text-color: #c2c5ca;
  --link-color: #009ee2;
  --heading-color: #3b75f3;
  --border-color: #8fbde6;
  --header-bg: #141821;
  --block-bg: transparent;
}