.coinswap {
  --primary-color: #12FFB8;
  --bg-color: #16161D;
  --text-color: white;
  --link-color: rgba(255, 255, 255, 0.55);
  --heading-color: white;
  --border-color: rgba(255, 255, 255, 0.07);
  --block-bg: rgba(255, 255, 255, 0.05);
  --header-bg: rgba(255, 255, 255, 0.05);
}
