.contribute {
  --primary-color: #444049;
  --bg-color: #28252c;
  --text-color: #ffffff;
  --link-color: #ffffff;
  --heading-color: #ffffff;
  --border-color: #db3bae;
  --header-bg:  #444049;
  --block-bg: transparent;
}
