.cyberkongz {
    --primary-color: #384aff;
    --bg-color: #0b0414;
    --text-color: #ffffff;
    --link-color: #ffffff;
    --heading-color: #ff00e5;
    --border-color: #ff00e5;
    --header-bg: #202230;
    --block-bg: transparent;
}
