.debaseonomics {
	--primary-color: #923db3;
	--bg-color: #212429;
	--text-color: #f7f7f7;
	--link-color: #f5468e;
	--heading-color: #ff803f;
	--border-color: #f7f7f7;
	--header-bg: #212429;
	--block-bg: transparent;
}
