.defiat {
  --primary-color: #8355ff;
  --bg-color: #221c57;
  --text-color: #c2c5ca;
  --link-color: #ba54f5;
  --heading-color: #8355ff;
  --header-bg: #1f2251;
  --border-color: #e1e1e1;
  --block-bg: #1f2251;
}