.deversifi {
  --primary-color: #5500FC;
  --bg-color: #0A1017;
  --text-color: #B0C0E0;
  --link-color: #FFFFFF;
  --heading-color: #FFFFFF;
  --border-color: #4C5978;
  --header-bg: #0A1017;
  --block-bg: #27324B;
}
