.dfv {
  --primary-color: #545454;
  --header-bg: white;
  --bg-color: #f3f4f4;
  --border-color: #545454;
  --text-color: #545454;
  --link-color: #545454;
  --heading-color: #545454;
  --block-bg: transparent;
}
