.dittomoney {
      --primary-color: #ed7ac0;
      --bg-color: #424242;
      --block-bg: transparent;
      --text-color: #ffffff;
      --border-color: #424242;
      --link-color: #ed7ac0;
      --heading-color: #ed7ac0;
      --header-bg: #222222;
      --block-bg: transparent;
}
