.dracula {
  --primary-color: #dfeeff;
  --header-bg: #221b24;
  --bg-color: #14161a;
  --border-color: #606870;
  --text-color: #a0acba;
  --link-color: #dfeeff;
  --heading-color: #dfeeff;
  --block-bg: #19181e;
}
