.easybake {
  --primary-color: #a993ff;
  --bg-color: white;
  --text-color: #000;
  --link-color: #8262ff;
  --heading-color: #7453fa;
  --border-color: #cdcdf3;
  --header-bg: white;
  --block-bg: #D2D2F3;
}
