.expectchaos {
  --primary-color: #d2023e;
  --bg-color: #000;
  --text-color: #8b949e;
  --link-color: #f5f5f5;
  --heading-color: #e2e2e2;
  --border-color: #424242;
  --header-bg: #111;
  --block-bg: transparent;
}
