.flush {
  --primary-color: #7970bf;
  --header-bg: #1a1721;
  --bg-color: #241f2c;
  --border-color: rgba(0, 0, 0,.5);
  --text-color: rgba(255, 255, 255, .7);
  --link-color: #FFF;
  --heading-color: #FFF;
}
