.fortube {
  --primary-color: #1f9685;
  --bg-color:#f2f9fa;
  --text-color: #38c1ad;
  --link-color: #000000;
  --heading-color: #909c9b;
  --border-color: #5bd8c6;
  --header-bg: none;
  --block-bg: transparent;
}
