.forward {
    --primary-color: #6EC1E4;
    --bg-color: #f8fbf3;
    --text-color: #7A7A7A;
    --link-color:#111111;
    --heading-color: #111111;
    --border-color: #d1d5da;
    --header-bg: #f8fbf3;
    --block-bg: white;
  }