.fries {
  --primary-color: #e59400;
  --bg-color: #020213;
  --text-color: #ffb800;
  --link-color: #ae7e02;
  --heading-color: #ffb800;
  --border-color: #3e2905;
  --header-bg: #020213;
  --block-bg: transparent;
}
