.frontier {
  --primary-color: #ad6037;
  --bg-color: white;
  --text-color: #2a1f21;
  --link-color: #ad6037;
  --heading-color: #291a18;
  --border-color: #e9e8e8;
  --header-bg: #f8eee4;
  --block-bg: transparent;
}
