.galleon {
    --primary-color: #178DD0;
    --bg-color: #080C24;
    --header-bg: #080C24;
    --heading-color: white;
    --text-color: #e4e4e4;
    --link-color: #0084CE;
    --border-color: #d1d5da;
    --block-bg: transparent;
}
