.gitcoin {
  --primary-color: #0FCE7C;
  --bg-color: #ffffff;
  --text-color: #586069;
  --link-color: #111111;
  --heading-color: #0FCE7C;
  --border-color: #e1e3e7;
  --header-bg: white;
  --block-bg: transparent;
}
