.giveth {
  --primary-color: #C2449F;
  --bg-color: #EDF2F9;
  --text-color: #AAAFCA;
  --link-color: #303B72;
  --heading-color: #303B72;
  --border-color: #5377B6;
  --header-bg: white;
  --block-bg: transparent;
}
