.gnometoken {
  --primary-color: #22a19a;
  --bg-color: white;
  --text-color: #141e27;
  --link-color: #22a19a;
  --heading-color: #070a0e;
  --border-color: #aab8c1;
  --header-bg: white;
  --block-bg: transparent;
}

