.goatcoin {
  --primary-color: #ffa132;
  --bg-color: #694f31;
  --text-color: white;
  --link-color: white;
  --heading-color: white;
  --border-color: #586069;
  --header-bg: #f7c041;
  --block-bg: transparent;
}
