.griffin {
  --primary-color: #ff6348;
  --bg-color: #282828;
  --text-color: #aeaeae;
  --link-color: #ffffff;
  --heading-color: #ff6348;
  --border-color: #000000;
  --header-bg: #1f1f1f;
  --block-bg: transparent;
}
