.index {
  --primary-color: #313FFA;
  --bg-color: white;
  --text-color: #1D144F;
  --link-color: #313FFA;
  --heading-color: #1D144F;
  --border-color: #C9C8C8;
  --header-bg: white;
  --block-bg: transparent;
}
