.kebabfinance {
  --primary-color: #e14f1b;
  --bg-color: #faf9fa;
  --text-color: #292929;
  --link-color: #292929;
  --heading-color: #202020;
  --border-color: #d4d4d4;
  --header-bg: #ffffff;
  --block-bg: #ffffff;
}
