.kogecoin {
  --primary-color: #2FFF0A;
  --bg-color: #1C1C1C;
  --text-color: #FFFFFF;
  --link-color: #2FFF0A;
  --heading-color: #FFFFFF; 
  --border-color: #FFFFFF;
  --header-bg: #252525;
  --block-bg: #303030;
}
