.mantra-dao {
  --primary-color: #EE367E;
  --bg-color: #1D222F;
  --text-color: #FFFFFF;
  --link-color: #EE367E;
  --heading-color: #FFFFFF;
  --border-color: #616161;
  --header-bg: black;
  --block-bg: transparent;
}
