.mettalex {
  --primary-color: #5643CC;
  --bg-color: #ffffff;
  --text-color: #000000;
  --link-color: #5643CC;
  --heading-color: #000000; 
  --border-color: #d1d5da;
  --header-bg: #d1d5da;
  --block-bg: #ffffff;
}
