.mithcash {
  --primary-color: #d7c08e;
  --bg-color: #1e1f23;
  --text-color: #d7c08e;
  --link-color: #d7c08e;
  --heading-color: #d7c08e;
  --border-color: #26272c;
  --header-bg: #26272c;
  --block-bg: transparent;
}
