.moontools {
  --primary-color: #84FFFF;
  --bg-color: #000000;
  --text-color: white;
  --link-color: #84FFFF;
  --heading-color: white;
  --border-color: rgba(255, 255, 255, 0.2);
  --header-bg: #000000;
  --block-bg: transparent;

  #topnav {
    border-bottom: 2px solid white !important;
  }
}
