.moonvault {
  --primary-color: #f4b330;
  --bg-color: #000;
  --text-color: #f4b330;
  --link-color: #fff;
  --heading-color: #f4b330;
  --border-color: #f4b330;
  --header-bg: #000;
  --block-bg: transparent;
}
