.mstable {
  --primary-color: #4aa1ff;
  --bg-color: #05142c;
  --text-color: #cccccc;
  --link-color: #ffffff;
  --heading-color: #ffffff;
  --border-color: #2d3a4e;
  --header-bg: #0c1b32;
  --block-bg: #0c1b32;
}
