.pandayield {
  --primary-color: #eb154b;
  --bg-color: #ebebeb;
  --text-color: #292929;
  --link-color: #292929;
  --heading-color: #000000;
  --border-color: #d4d4d4;
  --header-bg: #ffffff;
  --block-bg: #ffffff;
}
