.penguin-party {
  --primary-color: #9999FF;
  --bg-color: white;
  --text-color: black;
  --link-color: black;
  --heading-color: black;
  --border-color: #9999FF;
  --header-bg: white;
  --block-bg: transparent;
}
