.piedao {
  --primary-color: #fc02a6;
  --bg-color: white;
  --text-color: #565678;
  --link-color: #12113d;
  --heading-color: #12113d;
  --border-color: #cfcfcf;
  --header-bg: #f3f3f3;
  --block-bg: transparent;
}
