.pok {
  --primary-color: #384aff;
  --bg-color: #30425C;
  --text-color: #586069;
  --link-color: #5EB0C2;
  --heading-color: #2798B2;
  --border-color: #FFFFFF;
  --header-bg: white;
  --block-bg: transparent;
}
