.polyient-games-governance {
  --primary-color: #577ED2;
  --bg-color: #1A1F25;
  --text-color: #A4A6A9;
  --link-color: #577ED2;
  --heading-color:white;
  --border-color: #1A2027;
  --header-bg: #1E272F;
  --block-bg: transparent;
}
