.pupperdao {
    --primary-color: #f0562a;
    --bg-color: #fff3e6;
    --text-color: #100f0d;
    --link-color: #82abf3;
    --heading-color: #82abf3;
    --border-color: #100f0d;
    --header-bg: #fff3e6;
    --block-bg: transparent;
}