.raid-guild {
    --primary-color: #ff3864;
    --bg-color: #111111;
    --text-color: white;
    --link-color: #ff3864;
    --heading-color: #ff3864;
    --border-color: white;
    --header-bg: transparent;
    --block-bg: transparent;
}
