.rope {
  --primary-color: #000000;
  --bg-color: #000000;
  --text-color: #ffc5ff;
  --link-color: #ffffff;
  --heading-color: #ffe3ff;
  --border-color: #ff8cff;
  --header-bg: #EB70FF;
  --block-bg: transparent;
}
