.santiment {
    --primary-color: #14C393;
    --bg-color: #fff;
    --link-color: #14C393;
    --heading-color: #2F354D;
    --border-color: #E7EAF3;
    --text-color: #9FAAC4;
    --header-bg: #F9FAFC;
}
