.smartdex-voting {
    --primary-color: #0085FF;
    --header-bg: none;
    --bg-color: #f5f3f3;
    --border-color: #E2E2E8;
    --text-color: #0085FF;
    --link-color: #5F5E76;
    --heading-color: #5F5E76;
  }