.smoothyfinance {
    --primary-color: #00559b;
    --bg-color: #f9fffc;
    --header-bg: #f9fffc;
    --heading-color: #333333;
    --text-color: #666666;
    --link-color: #0084CE;
    --border-color: #e2efe9;
    --block-bg: transparent;
}
