.spaceswap {
  --primary-color: #FE7A79;
  --bg-color: #FBF0ED;
  --text-color: #957268;
  --link-color: #FE7A79;
  --heading-color: #000F89;
  --border-color: #E0CBC6;
  --header-bg: #FBF0ED;
  --block-bg: #FBF0ED;
}
