.spicedao {
    --primary-color: #000;
    --bg-color: #1201ff;
    --link-color: #cf0;
    --heading-color: #000;
    --border-color: #000;
    --header-bg: #cf0;
    --block-bg: transparent;
    --text-color: #cf0;
}