.spooky{
    --primary-color: #8C8CE3;
    --bg-color: #F2F4F8;
    --text-color: #3F5478;
    --link-color: #687EA8;
    --heading-color: #31415E;
    --border-color: #D7DEEA;
    --header-bg: rgba(255, 255, 255, 0.6);
    --block-bg: rgba(255, 255, 255, 0.6);
}