.sporkdao {
  --primary-color: #fc5090;
  --bg-color: #111111;
  --text-color: white;
  --link-color: #fc5090;
  --heading-color: #fc5090;
  --border-color: white;
  --header-bg: transparent;
  --block-bg: transparent;
}
