.totemearth {
    --primary-color: #73CCBE;
    --bg-color: white;
    --text-color: #586069;
    --link-color: #111111;
    --heading-color: #111111;
    --border-color: #73CCBE;
    --header-bg: white;
    --block-bg: transparent;
  }
  