.tracer {
  --primary-color: #0000bd;
  --bg-color: #fff;
  --text-color: #0000bd;
  --link-color: #0000bd;
  --heading-color: #0000bd;
  --border-color: #E5E5F8;
  --header-bg: #f2f2fc;
  --block-bg: transparent;
}
