.tripscommunity {
  --primary-color: #467494;
  --bg-color: white;
  --text-color: #2A2F35;
  --link-color: #111111;
  --heading-color: #111111;
  --border-color: #d1d5da;
  --header-bg: white;
  --block-bg: transparent;
}
