.unicore {
  --primary-color: #f44336;
  --bg-color: #071834;
  --text-color: #c2c5ca;
  --link-color: #ffea00;
  --heading-color: #f44336;
  --border-color: #40454f;
  --header-bg: #212429;
  --block-bg: transparent;
}