.universe {
    --primary-color: #7AEB53;
    --bg-color: #000000;
    --text-color: #FFFFFF;
    --link-color: #7AEB53;
    --heading-color: #ffffff;
    --border-color: #3D3D3D;
    --header-bg: #000000;
}
