.web3-api {
  --primary-color: #60C093;
  --bg-color: #1C272D;
  --text-color: #586069;
  --link-color: #529DAD;
  --heading-color: #529DAD;
  --border-color: #353d45;
  --header-bg: #1C272D;
  --block-bg: transparent;
}
