.lao {
    --primary-color: #000000;
    --header-bg: #000000;
    --bg-color: #534f44;
    --border-color: #FF69B4;
    --text-color: #FFFFFF;
    --link-color: #89cff0;
    --heading-color: #89cff0;
}
