.shrimp {
    --primary-color: #384aff;
    --bg-color: #E6FBFB;
    --text-color: #a98592;
    --link-color: #5b2739;
    --heading-color: #5b2839;
    --border-color: #e2cfd5;
    --header-bg: #f3edef;
  }
  