@font-face {
  font-family: "iconfont"; /* Project id 1946815 */
  src: url('iconfont.woff2?t=1638129463004') format('woff2'),
       url('iconfont.woff?t=1638129463004') format('woff'),
       url('iconfont.ttf?t=1638129463004') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconapps:before {
  content: "\e613";
}

.iconcheck1:before {
  content: "\e607";
}

.iconremind:before {
  content: "\e69e";
}

.iconemoji:before {
  content: "\e709";
}

.iconflag_fill:before {
  content: "\e711";
}

.iconmine:before {
  content: "\e732";
}

.iconmore:before {
  content: "\e736";
}

.iconpeople:before {
  content: "\e73d";
}

.iconstealth_fill:before {
  content: "\e75f";
}

.iconnotifications-on:before {
  content: "\ec64";
}

.iconnotifications:before {
  content: "\e630";
}

.iconnotifications-off:before {
  content: "\e6e4";
}

.iconstamp:before {
  content: "\e6de";
}

.iconinsertlink:before {
  content: "\e621";
}

.iconupload:before {
  content: "\e735";
}

.iconplay:before {
  content: "\e628";
}

.iconfeed:before {
  content: "\e6f6";
}

.icongitbook:before {
  content: "\e604";
}

.iconreload:before {
  content: "\e603";
}

.iconrefresh:before {
  content: "\e78f";
}

.iconwarning1:before {
  content: "\e602";
}

.icontoggle_off:before {
  content: "\e9ad";
}

.icontoggle-on:before {
  content: "\e8b2";
}

.iconthreedots:before {
  content: "\e730";
}

.iconmoon:before {
  content: "\e780";
}

.iconsun:before {
  content: "\e634";
}

.iconinfo:before {
  content: "\e93b";
}

.iconlogin:before {
  content: "\e66a";
}

.iconcopy:before {
  content: "\e638";
}

.iconsnapshot:before {
  content: "\e6da";
}

.iconstars:before {
  content: "\e6a3";
}

.iconfavorite-off:before {
  content: "\e6d7";
}

.iconfavorite-on:before {
  content: "\e6d8";
}

.iconloveit:before {
  content: "\e60a";
}

.iconbyteball:before {
  content: "\e6bc";
}

.iconandroid:before {
  content: "\e601";
}

.icontwitter:before {
  content: "\ec9c";
}

.iconreddit:before {
  content: "\ea3c";
}

.icongoogle:before {
  content: "\e723";
}

.iconchrome:before {
  content: "\e6c2";
}

.iconapple:before {
  content: "\e6bd";
}

.iconfacebook:before {
  content: "\e6be";
}

.iconwindows:before {
  content: "\e649";
}

.icondiscord:before {
  content: "\e6fe";
}

.icontelegram:before {
  content: "\e731";
}

.iconmacos:before {
  content: "\e6ba";
}

.iconline:before {
  content: "\e6c0";
}

.iconmenu1:before {
  content: "\e6c8";
}

.iconclose1:before {
  content: "\e6c9";
}

.icongear:before {
  content: "\e6ca";
}

.iconbullet:before {
  content: "\e619";
}

.iconplus:before {
  content: "\e727";
}

.iconwallet:before {
  content: "\e97c";
}

.iconsignature:before {
  content: "\e600";
}

.iconreceipt-outlined:before {
  content: "\e8eb";
}

.iconcheck:before {
  content: "\e679";
}

.iconwarning:before {
  content: "\e62c";
}

.iconsearch:before {
  content: "\e6f2";
}

.iconmenu:before {
  content: "\e609";
}

.iconclose:before {
  content: "\e63e";
}

.icongithub:before {
  content: "\e667";
}

.iconexternal-link:before {
  content: "\e636";
}

.icongo:before {
  content: "\e6cb";
}

.iconback:before {
  content: "\e6cc";
}

.iconuser:before {
  content: "\e66f";
}

.iconarrow-up:before {
  content: "\e75c";
}

.iconarrow-down:before {
  content: "\e75d";
}

