.gamedao {
  --primary-color: #0099cc;
  --bg-color: #111111;
  --text-color: #eeeeee;
  --link-color: #eeeeee;
  --heading-color: #eeeeee;
  --border-color: #0099cc;
  --header-bg: #111111;
  --block-bg: transparent;
}