@import '../fonts/iconfont.css';
@import 'viewerjs/dist/viewer.css';
@import './tippy.scss';
@import './tune.scss';
@import '../snapshot-spaces/skins';

@tailwind base;
@tailwind components;
@tailwind utilities;

[data-color-scheme='dark'] {
  color-scheme: dark;
  --primary-color: #ffffff;
  --bg-color: #1c1b20;
  --text-color: #8b949e;
  --link-color: #ffffff;
  --heading-color: #ffffff;
  --border-color: #343434;
  --header-bg: #1c1b20;
  --block-bg: transparent;
  --shadow-color: rgba(255, 255, 255, 0.036);
  --border-color-soft: rgba(45, 45, 45, 0.8);
  --border-color-subtle: rgba(45, 45, 45, 0.5);
  --border-color-faint: rgba(45, 45, 45, 0.3);
}

[data-color-scheme='light'] {
  color-scheme: light;
  --primary-color: #000000;
  --bg-color: white;
  --text-color: #57606a;
  --link-color: #444444;
  --heading-color: #111111;
  --border-color: #e0e0e0;
  --header-bg: white;
  --block-bg: transparent;
  --shadow-color: #0001;
  --border-color-soft: rgb(224, 224, 224, 0.6);
  --border-color-subtle: rgb(224, 224, 224, 0.32);
  --border-color-faint: rgb(224, 224, 224, 0.12);
}

@layer base {
  @font-face {
    font-family: 'Calibre';
    src: url('../fonts/Calibre-Medium-Custom.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Calibre';
    src: url('../fonts/Calibre-Semibold-Custom.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'SpaceMono';
    src: url('../fonts/space-mono-v11-latin-700.woff2') format('woff2');
  }

  html {
    scrollbar-gutter: stable;
    overflow: visible !important;
  }

  *,
  ::before,
  ::after {
    @apply border-skin-border;
  }

  body {
    overflow-x: hidden;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply my-2 text-lg;
  }
  h4 {
    @apply text-md;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-skin-heading;
  }

  a,
  button,
  input {
    @apply transition-colors;
  }

  b {
    @apply font-semibold;
  }

  select {
    @apply bg-skin-bg;
  }
}

@layer utilities {
  // This allows us to use 'no-scrollbar' with Tailwind breakpoints like this 'md:no-scrollbar'
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

// Don't prevent overscroll on touch devices
@media (pointer: fine) {
  body {
    overscroll-behavior-y: none;
  }
}

// Fade transition for Vue's transition and transition-group
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

a,
.a {
  color: var(--link-color);

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

.input {
  @apply bg-transparent text-skin-link outline-none;
}

::placeholder {
  color: var(--text-color);
  opacity: 0.6 !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='time']::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

// Pointer cursor for file input buttons
input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.lazy-loading {
  @apply animate-pulse-fast bg-skin-border;
}

// Shot UI kit

.s-input {
  @apply block w-full rounded-full border border-skin-border bg-skin-bg px-3 py-2 text-skin-link outline-none focus-within:border-skin-text;
}

.s-error {
  @apply flex items-center rounded-b-3xl bg-red px-3 pb-2 pt-4 text-sm text-white transition-all duration-200;
}

// Fix for chrome. Overwrites tailwinds break-words class.
// For some reason chrome doesn't break links with just overflow-wrap.
// It also needs word-break.
.break-words {
  overflow-wrap: break-word;
  word-break: break-word;
}

// v-viewer package styling
.viewer-backdrop {
  background-color: rgba(0, 0, 0, 80%) !important;
}

.viewer-close {
  scale: 1.5 !important;
  margin-top: 50px !important;
  margin-right: 66px !important;
  width: 50px !important;
  height: 50px !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

@media (max-width: 544px) {
  .viewer-close {
    margin-right: 50px !important;
  }
}
