.achievmintry {
    --primary-color: #6e1fb1;
    --bg-color: #f8fbf3;
    --text-color: #111111;
    --link-color:#6e1fb1;
    --heading-color: #6e1fb1;
    --border-color: #cc3385;
    --header-bg: #f8fbf3;
    --block-bg: transparent;
  }
  