.acoconutbsc {
    --primary-color: #617835;
    --bg-color: #080909;
    --text-color: #ffffff;
    --link-color: #617835;
    --heading-color: #a5a5a5;
    --border-color: transparent;
    --header-bg: #1d1d1d;
    --block-bg: transparent;
}