.airswap {
  --primary-color: #2b71ff;
  --bg-color: #fff;
  --text-color: #333;
  --link-color: #111;
  --heading-color: #111;
  --border-color: #ddd;
  --header-bg: #fff;
  --block-bg: transparent;
}
