.light-mode .akropolis-delphi {
  --bg-color: white;
}

.akropolis-delphi {
  --primary-color: #594CF2;
  --bg-color: #13131B;
  --text-color: #AEAEB1;
  --link-color: #fff;
  --border-color: #29293A;
  --header-bg: #28283F;
  --heading-color: #ffffff;
}
