.altrucoin {
    --primary-color: #48A8F9;
    --bg-color: #00142C;
    --text-color: #A0AAB8;
    --link-color: #48A8F9;
    --heading-color: #ffffff;
    --border-color: #1d2f3d;
    --header-bg: #011936;
  }
  