.bamboodefi {
    --primary-color: #7ac949;
    --bg-color: white;
    --text-color: black;
    --link-color: black;
    --heading-color: #111;
    --border-color: #7ac949;
    --header-bg: #7ac949;
    --block-bg: transparent;
}
