.barnbridge {
    --primary-color: #FF4339;
    --bg-color: #FFFFFF;
    --text-color: #060A0D;
    --link-color: #FF4339;
    --heading-color: #060A0D;
    --border-color: #E3E4E6;
    --header-bg: #F8F8F9;
}
