.basedloans {
  --primary-color: #f8d754;
  --bg-color: #009bca;
  --text-color: #d9fbf1;
  --link-color: #d5faf3;
  --heading-color: #ffffff;
  --border-color: #ffa7ab;
  --header-bg: #007099;
  --block-bg: transparent;
}