.benchmark {
  --primary-color: #2cf48b;
  --bg-color: #000000;
  --text-color: white;
  --link-color: white;
  --heading-color: white;
  --border-color: #2cf48b;
  --header-bg: #2a2e35;
  --block-bg: transparent;

  #topnav {
    border-bottom: 4px solid #2cf48b !important;
  }
}
