.charged-particles {
    --primary-color: #b6004c;
    --bg-color: #161726;
    --text-color: #fff;
    --link-color: #b9c3e8;
    --heading-color: #b6004c;
    --border-color: #5F6486;
    --header-bg: #161726;
    --block-bg: #161726;
}
