.complus {
  --primary-color: #b22234;
  --bg-color: #FFFFFF;
  --text-color: #565b69;
  --link-color: #000000;
  --heading-color: #b22234;
  --border-color: #e1e3e7;
  --header-bg: #FFFFFF;
  --block-bg: transparent;
}
