.cryptopugz {
    --primary-color: #000000;
    --bg-color: #0b0414;
    --text-color: #ffffff;
    --link-color: #ffffff;
    --heading-color: #bc38fd;
    --border-color: #83ff00;
    --header-bg: #202230;
    --block-bg: transparent;
}
