.cuni {
  --primary-color: #00D395;
  --bg-color: #F9FAFB;
  --text-color: #141E27;
  --link-color: #00D395;
  --heading-color: #070A0E;
  --border-color: #AAB8C1;
  --header-bg: #F9FAFB;
  --block-bg: transparent;
}
