.darkmatter {
    --primary-color: #8809ab;
    --bg-color: white;
    --text-color: black;
    --link-color: black;
    --heading-color: black;
    --border-color: #d905f5;
    --header-bg: #d905f5;
  } 