.dinoswap {
  --primary-color: #94cc76;
  --bg-color: #ede6de;
  --text-color: #527a2a;
  --link-color: #405f21;
  --heading-color: #527a2a;
  --border-color: rgba(255, 255, 255, 0.2);
  --header-bg: #eff5f1;
  --block-bg: transparent;
}
