.dsgn {
  --primary-color: rgb(255, 66, 66);
  --bg-color: #212529;
  --text-color: #71777E;
  --link-color: white;
  --heading-color: white;
  --border-color: #242629;
  --header-bg: black;
  --block-bg: transparent;
}
