.fairmoon {
  --primary-color: #0e78b2;
  --header-bg: #3c88a8;
  --bg-color: #091744;
  --border-color: #3c88a8;
  --text-color: #FFFFFF;
  --link-color: #d3e1e4;
  --heading-color: #FFFFFF;
  --block-bg: transparent;
}
