.frankendefi {
    --primary-color: #CCF66C;
    --bg-color: #05090B;
    --text-color: #d4d8ca;
    --link-color: #CCF66C;
    --heading-color: #B9DE62;
    --border-color: #516471;
    --header-bg: #3C4E5A;
    --block-bg: #16242E;
}