.halodao {
  --bg-color: #FBFAFF;
  --text-color: #4F4F4F; 
  --link-color: #471BB2;
  --heading-color: #111111;
  --border-color: #471bb2;
  --header-bg: #ffffff;
  --block-bg: #ffffff;

  #topnav {
    background-color: #ffffff;
    border-bottom: 1px solid #15006D !important;
  }
}
