.hurricane {
  --primary-color: rgb(110, 163, 238);
  --bg-color: #ffffff;
  --text-color: #343a40;
  --link-color: #242975;
  --heading-color: #242975;
  --border-color: rgb(12, 84, 142);
  --header-bg: #c8e8ff;
}