.jiaozi {
  --primary-color: #384aff;
  --bg-color: #6d1616;
  --text-color: #9c9c9c;
  --link-color: white;
  --heading-color: rgb(255, 193, 7);
  --border-color: rgba(0, 0, 0, 0.5);
  --header-bg: rgba(0, 0, 0, 0.3);
  --block-bg: transparent;
}


