.longterm {
  --primary-color: #0066ff;
  --bg-color: #212429;
  --text-color: white;
  --link-color: white;
  --heading-color: white;
  --border-color: #0066ff;
  --header-bg: #191b1f;
  --block-bg: transparent;
}
