.mate {
  --primary-color: #81cb53;
  --bg-color: #292727;
  --text-color: #afa5a5;
  --link-color: #ffffff;
  --heading-color: #ffffff;
  --border-color: #5a5555;
  --header-bg: #312f2f;
  --block-bg: transparent;
}
