.metacartel {
  --primary-color: #9670d1;
  --bg-color: #f8fbf3;
  --text-color: #111111;
  --link-color: #9670d1;
  --heading-color: #9670d1;
  --border-color: #6c1096;
  --header-bg: #f8fbf3;
  --block-bg: transparent;
}
