.moonpotdotcom {
  --primary-color: #F3BA2E;
  --bg-color: white;
  --text-color: #808080;
  --link-color: #404040;
  --heading-color: #404040;
  --border-color: #d9d9d9;
  --header-bg: white;
  --block-bg: transparent;
} 

.moonpotdotcom-dark-mode {
  --primary-color: #F3BA2E;
  --bg-color: #121212;
  --text-color: #a4a4a4;
  --link-color: #e3e3e3;
  --heading-color: #e3e3e3;
  --border-color: #2b2b2b;
  --header-bg: 121212;
  --block-bg: transparent;
}
