.oaklanddao {
  --primary-color: #384aff;
  --bg-color: #2e537d;
  --text-color: white;
  --link-color: #0fcc0b;
  --heading-color: white;
  --border-color: #d1d5da;
  --header-bg: #3d72ad;
  --block-bg: transparent;
}
