.pooltogether {
  --primary-color: #35F0D0;
  --bg-color: #341762;
  --text-color: #a79cbd;
  --link-color: #1ef7d6;
  --heading-color: #fff;
  --border-color: #43286e;
  --header-bg: #1a083a;
  --block-bg: transparent;
}

.pooltogether .bg-purple { background-color: #6f42c1 !important }