.potion {
  --primary-color: #ff0189;
  --bg-color: #242037;
  --text-color: #bbbbc1;
  --link-color: #ffffff;
  --heading-color: #ffffff;
  --border-color: #3b344d;
  --header-bg: #3b344d;
  --block-bg: transparent;
}
