.primitive {
  --primary-color: #00D110;
  --bg-color: black;
  --text-color: #AFAFAF;
  --link-color: white;
  --heading-color: white;
  --border-color: #AFAFAF;
  --header-bg: black;
  --block-bg: transparent;
}
