.rari {
  --primary-color: #384aff;
  --bg-color: black;
  --text-color: #959ea7;
  --link-color: white;
  --heading-color: white;
  --border-color: #717e8e;
  --header-bg: black;
  --block-bg: transparent;
}
