.sake {
  --primary-color: #d72449;
  --bg-color: #10a4ca;
  --text-color: #ffffff;
  --link-color: #8de7ff;
  --heading-color: #ffffff;
  --border-color: #ffffff;
  --header-bg: #41b7d6;
  --block-bg: #1faace;
}
