.sav3 {
  --primary-color: #00000069;
  --bg-color: #4e4854;
  --text-color: #00000082;
  --link-color: #00000080;
  --heading-color: #00000080;
  --border-color: #ffffff0d;
  --header-bg: #ffffff08;
}