.self {
	  --primary-color: #384aff;
    --header-bg: #162f1f;
    --bg-color: #0a2b17;
    --border-color: #d6a838;
    --text-color: #aeaeae;
    --link-color: #fff;
    --heading-color: #87fce6;
}
