.shroom {
  --primary-color: #209cee;
  --bg-color: white;
  --text-color: black;
  --link-color: #007bff;
  --heading-color: black;
  --border-color: black;
  --header-bg: rgb(240, 240, 240);
  --block-bg: transparent;
}
