.smol {
  --primary-color: #384aff;
  --bg-color: #97ff90;
  --text-color: #194616;
  --link-color: #133511;
  --heading-color: #133511;
  --border-color: #ff7c7a;
  --header-bg: #79de72;
  --block-bg: transparent;
}
