.southchain {
  --primary-color: #4B0082;
  --bg-color: white;
  --text-color: #121212;
  --link-color: #DD99FF;
  --heading-color: #4B0082;
  --border-color: #4B0082;
  --header-bg: white;
  --block-bg: transparent;
}
