.squirrelcash {
    --primary-color: #BAA311;
    --bg-color: #FFFFFF;
    --text-color: #565b69;
    --link-color: #000000;
    --heading-color: #BAA311;
    --border-color: #e1e3e7;
    --header-bg: #FFFFFF;
    --block-bg: transparent;
}