.stakedao {
  --primary-color: #6b7fff;
  --bg-color: #1a202c;
  --text-color: #fcfeff;
  --link-color: #6b7fff;
  --heading-color: #6b7fff;
  --border-color: #4a5568;
  --header-bg: #1a202c;
  --block-bg: transparent;
}