.swarm {
  --primary-color: #F3902D;
  --bg-color: #f4f7ff;
  --text-color: #9aa8cf;
  --link-color: #4b5e92;
  --heading-color: #4b5e92;
  --border-color: #9aa8cf;
  --header-bg: #ffffff;
  --block-bg: #ffffff;
}
