.tballiance {
  --primary-color: #f4981c;
  --bg-color: #f1f1f3;
  --text-color: #707070;
  --link-color: #27b66f;
  --heading-color: #111111;
  --border-color: #d1d5da;
  --header-bg: #f7f7f7;
  --block-bg: white;
}
