.trustwallet {
  --primary-color: #2e91db;
  --bg-color: white;
  --text-color: #708090;
  --link-color: #212529;
  --heading-color: #212529;
  --border-color: #e1e1e1;
  --header-bg: white;
  --block-bg: transparent;
}
