.unfederalreserve {
  --primary-color: #610010;
  --header-bg: #2552d0;
  --bg-color: #587bdf;
  --border-color: rgba(255, 0, 0, 0.2);
  --text-color: #ffffff;
  --link-color: #004a94;
  --heading-color: #28263b;
  --block-bg: transparent;
}
