.uniswap {
  --primary-color: #ff007a;
  --bg-color: #ffffff;
  --text-color: #565b69;
  --link-color: #000000;
  --heading-color: #ff007a;
  --border-color: #e1e3e7;
  --header-bg: #ffffff;
  --block-bg: transparent;
}

.uniswap-dark-mode {
  --primary-color: #2172e5;
  --bg-color: #212429;
  --text-color: #c2c5ca;
  --link-color: #ffffff;
  --heading-color: #2172e5;
  --border-color: #40454f;
  --header-bg: #212429;
  --block-bg: transparent;
}
