.votewarp {
  --primary-color: #5eb872;
  --bg-color: #212121;
  --text-color: #FFFFFF;
  --link-color: #FFFFFF;
  --heading-color: #FFFFFF;
  --border-color: #464646;
  --header-bg: #464646;
  --block-bg: #292929;
}
