.y3d {
  --primary-color: #F03A17;
  --bg-color: white;
  --text-color: #586069;
  --link-color: #111111;
  --heading-color: #F03A17;
  --border-color: #d1d5da;
  --header-bg: white;
  --block-bg: transparent;
}
