.yakuza {
    --primary-color: #d92533;
    --bg-color: rgb(85,13,40);
    --text-color: #AAAAAA;
    --link-color: #FFFFFF;
    --heading-color: #d92533;
    --border-color: rgba(26,1,38,1);
    --header-bg: transparent;
}
