.yashadao {
    --primary-color: #384aff;
    --bg-color: black;
    --text-color: white;
    --link-color: yellow;
    --heading-color: white;
    --border-color: red;
    --header-bg: black;
    --block-bg: transparent;
}
