.yaxis {
  --primary-color: #d7d7d7;
  --bg-color: #f8fafd;
  --text-color: #a7b0bf;
  --link-color: black;
  --heading-color: rgba(0, 0, 0, 0.85);
  --border-color: #e7eaec;
  --header-bg: white;
  --block-bg: white;

  #topnav {
    background: linear-gradient(180deg, #016eac 20.17%, #52b2dc 100%);
  }
}
