.zeta {
  --primary-color: #084A83;
  --bg-color: #C6E5F3;
  --text-color: #FFFDFE;
  --link-color: #FFFDFE;
  --heading-color: #FFFDFE;
  --border-color: #d1d5da;
  --header-bg: #4177A3;
  --block-bg: #4177A3;
}
