.zlot {
  --primary-color: #46fef4;
  --bg-color: #121c36;
  --text-color: white;
  --link-color: #46fef4;
  --heading-color: #46fef4;
  --border-color: #19274d;
  --header-bg: #19274d;
  --block-bg: transparent;
}
