.aave {
  --primary-color: #b6509e;
  --bg-color: #f1f1f3;
  --text-color: #707070;
  --link-color: #111111;
  --heading-color: #111111;
  --border-color: #d1d5da;
  --header-bg: #f7f7f7;
  --block-bg: white;

  #topnav {
    background-color: #2b2d3c;
    a,
    span {
      color: #fff;
    }
    a:hover,
    a:focus,
    button:hover,
    button:focus {
      border-color: #fff;
      color: #f6f8fa;
    }
  }
}
