@import './assets/fonts/iconfont.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[data-color-scheme='dark'] {
  color-scheme: dark;
  --primary-color: #384aff;
  --bg-color: #211f24;
  --text-color: #8b949e;
  --link-color: #ffffff;
  --heading-color: #ffffff;
  --border-color: #2d2d2d;
  --header-bg: #1c1b20;
  --block-bg: transparent;
  --shadow-color: #fff1;
}

[data-color-scheme='light'] {
  color-scheme: light;
  --primary-color: #384aff;
  --bg-color: white;
  --text-color: #57606a;
  --link-color: #444444;
  --heading-color: #111111;
  --border-color: #e0e0e0;
  --header-bg: white;
  --block-bg: transparent;
  --shadow-color: #0001;
}

@layer base {
  @font-face {
    font-family: 'Calibre';
    src: url('./assets/fonts/Calibre-Medium-Custom.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Calibre';
    src: url('./assets/fonts/Calibre-Semibold-Custom.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
  }

  * {
    @apply outline-none;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg my-2;
  }
  h4 {
    @apply text-md;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-skin-heading;
  }

  a,
  button,
  input {
    @apply transition-colors;
  }

  b {
    @apply font-semibold;
  }

  select {
    @apply bg-skin-bg;
  }
}

@layer utilities {
  // This allows us to use 'no-scrollbar' with Tailwind breakpoints like this 'md:no-scrollbar'
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

// Don't prevent overscroll on touch devices
@media (pointer: fine) {
  body {
    overscroll-behavior-y: none;
  }
}

// Fade transition for Vue's transition and transition-group
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

// TODO: Move this to BaseAnchor components
a,
.a {
  color: var(--link-color);

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

// TODO: Move this and ::placeholder to a new BaseInput component
.input {
  @apply outline-none text-skin-link bg-transparent border-none;
}

::placeholder {
  color: var(--text-color);
  opacity: 0.6 !important;
}

// TODO: Move this to a new BaseTextarea component
textarea {
  padding-top: 16px;
  font-size: 20px;
  line-height: 1.4em;
}

// TODO: Remove this and use border-skin-border in the templates. Tailwind has
// dozens of modifiers (md:, sm:, hover: etc.) which would all need to be listed here.
.border,
.border-md,
.border-lg,
.border-b,
.border-t,
.border-r,
.border-l {
  @apply border-skin-border;
}

.sidenav-item {
  &.router-link-exact-active {
    border-left: 3px solid;
    padding-left: 21px;
  }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

// V-Tippy tooltip package styling - could be moved somewhere else?
.tippy-box[data-animation='fade'][data-state='hidden'] {
  opacity: 0;
}
[data-tippy-root] {
  max-width: calc(100vw - 10px);
}
.tippy-box {
  position: relative;
  background-color: var(--text-color);
  color: var(--header-bg);
  border-radius: 7px;
  font-size: 16px;
  line-height: 1.4;
  outline: 0;
  transition-property: transform, visibility, opacity;
  padding: 2px 4px;
  text-align: center;
  font-weight: 500;
}
.tippy-box[data-placement^='top'] > .tippy-arrow {
  bottom: 0;
}
.tippy-box[data-placement^='top'] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: var(--text-color);
  transform-origin: center top;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow {
  top: 0;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: var(--text-color);
  transform-origin: center bottom;
}
.tippy-box[data-placement^='left'] > .tippy-arrow {
  right: 0;
}
.tippy-box[data-placement^='left'] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: var(--text-color);
  right: -7px;
  transform-origin: center left;
}
.tippy-box[data-placement^='right'] > .tippy-arrow {
  left: 0;
}
.tippy-box[data-placement^='right'] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: var(--text-color);
  transform-origin: center right;
}
.tippy-box[data-inertia][data-state='visible'] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}
.tippy-arrow:before {
  content: '';
  position: absolute;
  border-color: transparent;
  border-style: solid;
}
.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}

.lazy-loading {
  @apply bg-skin-border animate-pulse-fast;
}

// Shot UI kit

.s-input {
  @apply outline-none text-skin-heading border border-skin-border focus-within:border-skin-link block rounded-full py-2 px-3 w-full bg-skin-bg;
}

.s-error {
  @apply bg-red text-white text-sm transition-all duration-200 flex items-center px-3 pb-2 pt-4 rounded-b-3xl;
}

.s-label {
  @apply block mb-1;
}

.s-indicator {
  @apply text-sm h-[12px] w-[12px] rounded-full inline-block bg-blue;
}


// Fix for chrome. Overwrites tailwinds break-words class.
// For some reason chrome doesn't break links with just overflow-wrap.
// It also needs word-break.
.break-words {
  overflow-wrap: break-word;
  word-break: break-word;
}