@import './fonts';
@import './vars';
@import './assets/default.scss';
@import './assets/yam.scss';
@import './assets/yearn.scss';
@import './assets/balancer.scss';
@import './assets/curve.scss';
@import './assets/maker.scss';
@import './assets/spaghetti.scss';
@import "~@primer/css/index.scss";

html, body, #app {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: $font-weight-normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  outline: none !important;
}

h1, h2, h3, h4 {
  color: var(--heading-color);
  font-family: $font-weight-bold;
}

b {
  font-family: $font-weight-bold;
}

p {
  font-size: 22px;
}

#app {
  min-height: 100vh;
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-color) !important;
    cursor: pointer;
    text-decoration: none !important;
  }

  &.tab:hover {
    color: var(--primary-color) !important;
    text-decoration: underline !important;
  }
}

::placeholder {
  color: var(--text-color);
}

.input {
  outline: none;
  color: var(--link-color);
  background-color: transparent;
  border: none;
}

textarea {
  font-size: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  background-clip: padding-box;
  border: 0;
  border-radius: 0;

  &:hover {
    background-color: var(--border-color);
  }
}

.eyebrow {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}

.column {
  width: 160px;
}

.anim-fade-in {
  animation-duration: 0.6s !important;
}

.line-height-0 {
  line-height: 0;
}

.bg-black {
  background-color: var(--bg-color);
}

.State {
  font-size: 16px;
  line-height: 30px;
  height: 28px;
  vertical-align: middle;
  padding: 0 12px;
  border-radius: 14px;
}

.notification {
  color: white !important;
}

.border, .border-md, .border-lg, .border-bottom, .border-top {
  border-color: var(--border-color) !important;
}

.bg-gray-dark {
  background-color: var(--header-bg) !important;
}

.bg-gray-9 {
  background-color: var(--text-color) !important;
}

.text-gray {
  color: var(--text-color) !important;
}

.text-white {
  color: var(--link-color) !important;
}

.bg-blue {
  background-color: var(--primary-color) !important;
}

.tab {
  display: inline-block;
  &:first-letter {
    text-transform: capitalize;
  }
}

.tab-active {
  color: var(--primary-color) !important;
}

.menu-tabs {
  white-space: nowrap;
}

.menu-tabs::-webkit-scrollbar {
  display: none;
}
