@import './assets/fonts/iconfont.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[data-color-scheme='dark'] {
  color-scheme: dark;
  --primary-color: #384aff;
  --bg-color: #121212;
  --text-color: #8b949e;
  --link-color: #ffffff;
  --heading-color: #ffffff;
  --border-color: #424242;
  --header-bg: #121212;
}

[data-color-scheme='light'] {
  color-scheme: light;
  --primary-color: #384aff;
  --bg-color: white;
  --text-color: #57606a;
  --link-color: #111111;
  --heading-color: #111111;
  --border-color: #d0d7de;
  --header-bg: white;
  --block-bg: transparent;
}

@layer base {
  @font-face {
    font-family: 'Calibre';
    src: url('./assets/fonts/Calibre-Medium.woff2') format('woff2'),
      url('./assets/fonts/Calibre-Medium.woff') format('woff'),
      url('./assets/fonts/Calibre-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Calibre';
    src: url('./assets/fonts/Calibre-Semibold.woff2') format('woff2'),
      url('./assets/fonts/Calibre-Semibold.woff') format('woff'),
      url('./assets/fonts/Calibre-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg my-2;
  }
  h4 {
    @apply text-md;
  }

  a,
  button,
  input {
    @apply transition-colors;
  }
}

@layer utilities {
  // This allows us to use 'no-scrollbar' with Tailwind breakpoints like this 'md:no-scrollbar'
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@media (pointer: fine) {
  body {
    overscroll-behavior-y: none;
  }
}

* {
  outline: none !important;
}

h1,
h2,
h3,
h4 {
  color: var(--heading-color);
  font-weight: 600;
}

b {
  font-weight: 600;
}

a,
.a {
  color: var(--link-color);

  &:hover {
    cursor: pointer;
    text-decoration: none !important;
  }
}

::placeholder {
  color: var(--text-color) !important;
  opacity: 0.6 !important;
}

.input {
  outline: none;
  color: var(--link-color);
  background-color: transparent;
  border: none;
}

textarea {
  padding-top: 16px;
  font-size: 20px;
  line-height: 1.4em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  background-clip: padding-box;
  border: 0;
  border-radius: 0;

  &:hover {
    background-color: var(--border-color);
  }
}

.eyebrow {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}

select {
  background-color: var(--bg-color) !important;
}

.column {
  width: 160px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.bg-black {
  background-color: var(--bg-color);
}

.State {
  font-size: 16px;
  line-height: 30px;
  height: 28px;
  vertical-align: middle;
  padding: 0 12px;
  border-radius: 14px;
}

.State.slim {
  padding: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.notification {
  color: white !important;
}

.border,
.border-md,
.border-lg,
.border-b,
.border-t,
.border-r,
.border-l {
  border-color: var(--border-color);
}

.header-bg {
  background-color: var(--header-bg) !important;
}

.bg-gray-9 {
  background-color: var(--text-color) !important;
}

.primary-color {
  color: var(--primary-color) !important;
}

.text-color {
  color: var(--text-color) !important;
}

.link-color {
  color: var(--link-color) !important;
}

.block-bg {
  background-color: var(--block-bg) !important;
}

.bg-blue {
  background-color: var(--primary-color) !important;
}

.tab {
  display: inline-block;
  &:first-letter {
    text-transform: capitalize;
  }
}

.extra-icon-container {
  position: relative;

  .extra-icon-off {
    display: none;
  }
}

.hover-border {
  &:hover {
    border-color: var(--link-color) !important;
  }
}

.markdown-body blockquote {
  color: var(--text-color);
  border-left-color: var(--text-color);
}

.last-child-border-0:last-child {
  border: 0 !important;
}

.sliding {
  overflow: auto;
  white-space: nowrap;
}

.border-color {
  color: var(--border-color);
}

.sidenav-item {
  &.router-link-exact-active {
    border-left: 3px solid;
    padding-left: 21px !important;
  }
}

.sidenav-item {
  &.charts-selected-tab {
    border-bottom: 3px solid;
  }
}

.truncated {
  display: block;
  white-space: nowrap; /* forces text to single line */
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tippy-box[data-animation='fade'][data-state='hidden'] {
  opacity: 0;
}
[data-tippy-root] {
  max-width: calc(100vw - 10px);
}
.tippy-box {
  position: relative;
  background-color: var(--text-color);
  color: var(--header-bg);
  border-radius: 7px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  transition-property: transform, visibility, opacity;
  padding: 3px 6px 4px;
  text-align: center;
  font-weight: 600;
}
.tippy-box[data-placement^='top'] > .tippy-arrow {
  bottom: 0;
}
.tippy-box[data-placement^='top'] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: var(--text-color);
  transform-origin: center top;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow {
  top: 0;
}
.tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: var(--text-color);
  transform-origin: center bottom;
}
.tippy-box[data-placement^='left'] > .tippy-arrow {
  right: 0;
}
.tippy-box[data-placement^='left'] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: var(--text-color);
  right: -7px;
  transform-origin: center left;
}
.tippy-box[data-placement^='right'] > .tippy-arrow {
  left: 0;
}
.tippy-box[data-placement^='right'] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: var(--text-color);
  transform-origin: center right;
}
.tippy-box[data-inertia][data-state='visible'] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}
.tippy-arrow:before {
  content: '';
  position: absolute;
  border-color: transparent;
  border-style: solid;
}
.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}

// Shot UI kit

.s-input {
  @apply text-skin-heading border border-skin-border focus-within:border-skin-link block rounded-full py-2 px-3 w-full bg-transparent;
}

.s-label {
  @apply block mb-1;
}
