$white: #5b2739;
$text-white: $white;
$black: #efe7ea;
$border-color: #e2cfd5;
$bg-gray-dark: lighten($black, 2);
$gray: #a98592;
$text-gray: $gray;
$blue: #d2004a;
$gray-900: $gray;
$bg-blue: $blue;

.State, .Counter, .button--submit {
  color: $black !important;
}
